
    <div class="header">
      <a routerLink="{{customer?.id}}">
      {{ customer.name | uppercase}}, {{ customer.firstname | uppercase }}
      </a>
    </div>
    <div class="content">
    <span>
      My hobbies:
      <!--<span *ngFor="let hobby of customer.hobbies">H: {{hobby}}</span>-->
    {{ customer.hobbies | appJoin:' + ' }}
    </span>

    </div>
    <div class="details">
      <app-customer-details [customer]="customer"></app-customer-details>
    </div>
    <div class="footer">

    </div>

